@charset "ISO-8859-1";
body {
	font-family: sans-serif;
}
table {
	border-collapse: collapse;
}
.alignR {
	text-align: right;
}
input[type="button"] {
	padding: .1em .5em;
}
tr:nth-child(even) {
	background-color: #d4d4d4;
}
tr:hover {
	background-color: #d1d1d1;
}
th {
	background-color: #21ad50;
	text-align: left;
	color: white;
	padding: .7em;
	border: 1px solid #dedede;
}
#uusiAsiakas:hover, #takaisin:hover {
	cursor: pointer;
	text-decoration: underline 1.2px #f7f7f7;
	color: #f7f7f7;
}
td {
	padding: .7em;	
	border: 1px solid #dedede;
}
.poista {
	color: #9c4141;
	font-weight: bold;
}
.poista:hover {
	cursor: pointer;
	text-decoration: underline 1.2px #bd4d4d;
	color: #bd4d4d;
}
