@charset "ISO-8859-1";
body {
	font-family: sans-serif;
}

table {
	border-collapse: collapse;
}
.alignR {
	text-align: right;
}
input[type="button"] {
	padding: .1em .5em;
}
tr:nth-child(even) {
	background-color: #d4d4d4;
}
tr:hover {
	background-color: #d1d1d1;
}
th {
	background-color: #21ad50;
	text-align: left;
	color: white;
	padding: .7em;
	border: 1px solid #dedede;
}
#uusiAsiakas, #takaisin {
	color: white;
}
#uusiAsiakas:hover, #takaisin:hover {
	text-decoration: underline 1.2px #f7f7f7;
	color: #f7f7f7;
}
td {
	padding: .7em;	
	border: 1px solid #dedede;
}
table a, table a:visited {
	text-decoration: none;
	color: #3162a3;
	
}
table a:hover {
	text-decoration: underline 1.2px #3b76c4;
	color: #3b76c4;
}
.poista {
	color: #9c4141;	
}
.poista:hover {
	cursor: pointer;
	text-decoration: underline 1.2px #bd4d4d;
	color: #bd4d4d;
}
